bin/*
data/*
data/Features/
.DS_Store
.classpath
compile
tune
run
/bin/
Jar/*
output/*
*.class
*.json
*.txt
*.xml
*.iml
*.txt
*.class
src/topicmodels/embeddingModel/test.java
src/nohup.out
*.xlsx
*.log
src/mains/ETBIRMain.java
*.dat
*.csv
myData/yelp/byUser_4k_review/yelp
*.slurm
tuneCTM
tuneLDA_User
tuneLDA_Variational
yelp_user_corpus_test_2
yelp_user_corpus_test_3
yelp_user_corpus_test_4
yelp_user_corpus_train_1
yelp_user_corpus_train_3
yelp_user_corpus_train_2
yelp_user_corpus_train_4
yelp_user_link_test_1
yelp_user_link_test_2
yelp_user_link_test_3
yelp_user_link_train_1
yelp_user_link_test_4
yelp_user_link_train_2
yelp_user_link_train_3
yelp_user_link_train_4
