bin/*
data/*
data/Features/
.DS_Store
.classpath
compile
run
/bin/
Jar/*
output/*
src/json/JSONObject.class
myData/yelp/user.json
*.json
*.txt
*.xml
*.iml
*.txt
myData/byUser_40_50_12/output/feature_2/LDA_Variational_info.txt
*.class
myData/byUser_40_50_12/output/feature_0/eta.txt
src/topicmodels/embeddingModel/test.java
src/nohup.out
*.xlsx
*.log
*.txt
